:root {
  --first: #D2ABD1;
  --stripone: #50DB94;
  --striptwo: #A78CF5;
  --stripthree: #3C4266;
}
/* 1739513938.5918624 */

/* first color */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */

/* strip color*/
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */