:root {
  --first: #FFE55B;
  --stripone: #1FC980;
  --striptwo: #C37841;
  --stripthree: #6F51AB;
}
/* 1739513938.5918624 */

/* first color */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */

/* strip color*/
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */