:root {
  --first: #4B91FC;
  --stripone: #9ABB53;
  --striptwo: #E64AC7;
  --stripthree: #6C527F;
}
/* 1739513938.5918624 */

/* first color */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */

/* strip color*/
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */
/*         */